.assignment {
    display: column;
    align-items: center;
    background-color: white;
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
    border-style: solid;
    border-color: rgb(103, 103, 103, 0.33);
    border-width: 1px;
    font-size: 3vw;
    width: 97.5;
    height: fit-content;
}

.assignment>div {
    cursor: default;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    padding: 2%;
}

.assignment-name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: auto;
    padding: 3px;
    background-color: rgb(103, 103, 103, 0.33);
    border-radius: 5px;
}

.assignment-name>button {
    cursor: text;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: auto;
    padding: 3px;
    background-color: rgb(103, 103, 103, 0.33);
    border-radius: 5px;
    border: none;
}

.assignment-name>button>* {
    width: auto;
    font-size: 3vw;
    background-color: transparent;
    outline: none;
    border: none;
}

.assignment-results>div {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    margin: 5px;
    padding: 3px;
    align-items: center;
    height: auto;
    background-color: rgb(103, 103, 103, 0.33);
    border-radius: 5px;
}

.assignment-results>div>button {
    cursor: text;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    padding: 1px;
    background-color: rgb(103, 103, 103, 0.33);
    border-radius: 5px;
    border: none;
}

#final-grade {
    width: auto;
}

#weighting {
    width: auto;
}

.assignment-results>div>button>* {
    width: auto;
    font-size: 2vw;
    background-color: transparent;
    outline: none;
    border: none;
}

.assignment-results>button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    width: 12%;
    font-size: 2vw;
    text-align: center;
    align-items: center;
}